#hero {
	background-position: center center;
	background-size: cover;
	background-image: url("../img/banner1.jpg");
}

#hero-title {
	margin-top: 10%;
	line-height: 1.5em;
}

.bold {
	font-weight: bold;
}

.thin {
	font-weight: 200;
}

.caption {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 30px;
}

.spacer {
	height: 2rem;
	width: 100%;
}

.item {
	width: 220px;
}

.owl-carousel .item {
	height: 10rem;
}

@media only screen and (max-width: 600px) {
	.spacer-small {
		height: 0.5rem;
		width: 100%;
	}
}

@media only screen and (min-width: 601px) {
	.spacer-small {
		height: 1rem;
		width: 100%;
	}
}